<div class="row widget-box">
  <div class="widget-header">
    <h4 class="widget-title">Address Details</h4>
  </div>
  <div class="col-xs-12">
    <div class='widget-body'>
      <div class='widget-main'>
        <%= form_for "/address_check", :html => {:class => "form-inline"} do |f| %>
          <%= f.text_field :address, :class => "col-xs-10 col-sm-5", :placeholder => "Address" %>
          <%= f.submit "Submit", :class => "btn btn-info btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
