<div class="widget-header green">
  <h4 class="widget-title">Available Financing Options</h4>
</div>
<div class="col-xs-12">
  <div class='widget-body'>
    <div class='widget-main'>
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th>Years</th>
            <th>Interest Rate</th>
            <th>EMI</th>
          </tr>
        </thead>
        <tbody>
          <% @loan_application.last_application_decision.parsed_response["funding_options"].each do |application| %>
            <tr>
              <td>
                <%= application["years"] %>
              </td>
              <td>
                <%= application["interest_rate"] %>
              </td>
              <td>
                <%= application["emi"] %>
              </td>
            </tr>
          <% end %>
          <br/>
        </tbody>
      </table>
    </div>
  </div>
</div>
