<div class="main-content-inner">
  <div class="page-content">
    <div class="page-header">
			<h1>
				Applicant Decision
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
				</small>
			</h1>
		</div>

    <div class="row widget-box">
      <div class="widget-header">
        <h4 class="widget-title">Decision Details</h4>
      </div>
      <div class="col-xs-12">
        <div class='widget-body'>
          <div class='widget-main'>
            <form class="form-horizontal" >
              <table class="table table-bordered table-hover" id="simple-table">
                <thead>
                  <tr>
                    <th>Years</th>
                    <th>Interest Rate</th>
                    <th>Emi</th>
                  </tr>
                </thead>
                <tbody>
                  <% @application_decision.response["funding_options"].each do |application| %>
                    <tr>
                      <td>
                        <%= application["years"] %>
                      </td>
                      <td>
                        <%= application["interest_rate"] %>
                      </td>
                      <td>
                        <%= application["emi"] %>
                      </td>
                    </tr>
                  <% end %>
                  <br/>
                </tbody>
              </table>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
