<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<html>
  <div id="container" style="height: 250px; width: 800px">
  </div>
  <div id="table" style="height: 250px; width: 800px">
    <h3><center>Loan Application</center></h3>
    <table class="table table-bordered table-hover" id="simple-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% @loan_applications.each do |application| %>
          <tr>
            <td>
              <%= application.first_name %>
            </td>
            <td>
              <%= application.last_name %>
            </td>
            <td>
              <%= application.email %>
            </td>
            <td>
              <%= application.phone %>
            </td>
          </tr>
        <% end %>
        <br/>
      </tbody>
    </table>
  </div>

</html>

<script>
    Highcharts.chart('container', {

            title: {
                    text: 'Loan Application Growth, 2012-2016'
            },

            subtitle: {
                    text: 'Source: theloanfoundation.com'
            },

            yAxis: {
                    title: {
                            text: 'Number of Applications'
                    }
            },
            legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
            },

            plotOptions: {
                    series: {
                            label: {
                                    connectorAllowed: false
                            },
                            pointStart: 2012
                    }
            },

            series: [{
                    name: 'Installation',
                    data: [43934, 52503, 57177, 69658, 97031]

            }, {
                    name: 'Manufacturing',
                    data: [24916, 24064, 29742, 29851, 32490]
            }, {
                    name: 'Sales & Distribution',
                    data: [11744, 17722, 16005, 19771, 20185]
            }, {
                    name: 'Project Development',
                    data: [null, null, 7988, 12169, 15112]
            }, {
                    name: 'Other',
                    data: [12908, 5948, 8105, 11248, 8989]
            }],

            responsive: {
                    rules: [{
                            condition: {
                                    maxWidth: 500
                            },
                            chartOptions: {
                                    legend: {
                                            layout: 'horizontal',
                                            align: 'center',
                                            verticalAlign: 'bottom'
                                    }
                            }
                    }]
            }

    });
</script>
