<div class="breadcrumbs" id="breadcrumbs">
  <script>

    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}

  </script>
  <ul class="breadcrumb">
    <li></li>
  </ul>
  <!-- /.breadcrumb
  -->
  <div class="nav-search" id="nav-search">
    <form class="form-search">
      <span class="input-icon"></span>
    </form>
  </div>
  <!-- /.nav-search
  -->
</div>
